<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Jimsay Private Chat!</title>
</head>
<body>
<div>
    <h2>Welcome to Jimsay Private Chat!</h2>
    <p>Send to:</p>
    <input type="radio" id="SendToLindsay" value="Lindsay">Lindsay
    <input type="radio" id="SendToJimmy" value="Jimmy">Jimmy
    <br>
    <input type="text" id="MessageBox" name ="MessageBox" style="height:200px" size="50">
    <br>
    <input type="button" id="SendMessage" value="Send" onclick="Send()">
</div>
</body>
</html>